{
    "env": {
        "test": {
            "plugins": ["transform-es2015-modules-commonjs"],
            "sourceMap": "inline"
        }
    },
    "plugins": [
        ["relay", { "schema": "../server/schema.graphql", "artifactDirectory": "./src/__generated__" }],
        "transform-class-properties",
        "transform-object-rest-spread",
        "react-hot-loader/babel"
    ],
    "presets": ["react"]
}
