.container {
    height: calc(100% - var(--app-bar-height));
}

.form {
    display: flex;
    flex-direction: column;

    width: 20rem;

    .input {
        margin-bottom: 2rem;
    }

    button {
        margin-top: 1rem;
    }

    .error {
        color: red
    }

    .success {
        color: darkgreen
    }
}

.button-group {
    display: flex;
    flex-direction: row;
    justify-content: flex-end;

    button {
        margin: 0 .3rem;
    }
}
